#menu-button {
	border: 0;
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	background: transparent;
}

/* 
==================================
Create hamburger navigation button 
================================== 
*/
#menu-button span, #menu-button span:before, #menu-button span:after {
	display: block;
	width: 8px;
	height: 3px;
	background-color: #FFFFFF;
	content: '';
}

#menu-botton span {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#menu-button span:before {
	margin-top: -10px;
}

#menu-button span:after {
	margin-bottom: -10px;
}

#menu-button .o span {
	background-color: transparent;
}

#menu-button .o span:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#menu-button .o span:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}